{% extends "base.html" %}

{% block scripts %}
{{ super() }}

<!-- Cal element-click embed code begins -->
<script type="text/javascript">
(
    function (C, A, L) {
        let p = function (a, ar) {
            a.q.push(ar);
        };
        let d = C.document; C.Cal = C.Cal || function () {
            let cal = C.Cal;
            let ar = arguments;
            if (!cal.loaded) {
                cal.ns = {};
                cal.q = cal.q || [];
                d.head.appendChild(d.createElement("script")).src = A;
                cal.loaded = true;
            }
            if (ar[0] === L) {
                const api = function () {
                    p(api, arguments);
                };
                const namespace = ar[1];
                api.q = api.q || [];
                typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar);
                return;
            }
            p(cal, ar);
        };
    }
)(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", {origin:"https://app.cal.com"});

Cal("ui", {"styles":{"branding":{"brandColor":"#4051b5"}},"hideEventTypeDetails":false,"layout":"week_view"});
</script>
<!-- Cal element-click embed code ends -->

<!-- Cal floating-popup embed code begins -->
<script type="text/javascript">
    if (window.location.pathname.startsWith("/cv/")) {
        (
            function (C, A, L) {
                let p = function (a, ar) {
                    a.q.push(ar);
                };
                let d = C.document;
                C.Cal = C.Cal || function () {
                    let cal = C.Cal;
                    let ar = arguments;
                    if (!cal.loaded) {
                        cal.ns = {};
                        cal.q = cal.q || [];
                        d.head.appendChild(d.createElement("script")).src = A;
                        cal.loaded = true;
                    }
                    if (ar[0] === L) {
                        const api = function () {
                            p(api, arguments);
                        };
                        const namespace = ar[1];
                        api.q = api.q || [];
                        typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar);
                        return;
                    }
                    p(cal, ar);
                };
            }
        )(window, "https://app.cal.com/embed/embed.js", "init");
        Cal("init", {origin: "https://app.cal.com"});

        Cal("floatingButton", {
            "calLink": "jnassar/call",
            "buttonColor": "#4051b5",
            "buttonTextColor": "#FFFFFF",
            "buttonText": "Book a call"
        });
        Cal("ui", {
            "styles": {"branding": {"brandColor": "#4051b5"}},
            "hideEventTypeDetails": false,
            "layout": "month_view"
        });
    }
</script>
<!-- Cal floating-popup embed code ends -->

{% endblock %}