{% extends "base.html" %}

{% block scripts %}
{{ super() }}

<!-- Cal floating-popup embed code begins -->
<script type="text/javascript">
    if (window.location.pathname.startsWith("/cv/")) {
        Cal("floatingButton", {
            "calLink": "jnassar/call",
            "buttonColor": "#4051b5",
            "buttonTextColor": "#FFFFFF",
            "buttonText": "Book a call"
        });
        Cal("ui", {
            "styles": {"branding": {"brandColor": "#4051b5"}},
            "hideEventTypeDetails": false,
            "layout": "month_view"
        });
    }
</script>
<!-- Cal floating-popup embed code ends -->

{% endblock %}